.container{
    text-align: center;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/0*OCh2ueFNWVEkvNsy.png);
    width: 100wh;
    height: 91vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.container .oper button{
margin: 30px;
}